{% extends 'WininjobTestBundle::layout.html.twig' %}
{% block title %} Homepage | {{ parent() }} {% endblock %}
{% block content %}
	Hello! <a href="{{ path('back_homepage') }}">Go to the back...</a>
{% endblock %}
