<div class="container">
	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<a href="#" class="brand">WIJ</a>
				<ul class="nav">
					<li><a href="#">Home</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>