<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}WininjobTest{% endblock %}</title>
	{% block javascripts %}
		{% javascripts '@WininjobTestBundle/Resources/public/js/jquery-1.9.1.min.js'
					   '@WininjobTestBundle/Resources/public/js/bootstrap.min.js' %}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% endblock %}

	{% block stylesheets %}
		{% stylesheets '@WininjobTestBundle/Resources/public/css/*' %}
			<link rel="stylesheet" type="text/css" href="{{ asset_url }}">
		{% endstylesheets %}
	{% endblock %}
</head>
<body style="padding-top: 45px">
	{% include 'WininjobTestBundle::menu.html.twig' %}
	<div class="container">
		{% block content %}{% endblock %}
	</div>
	test
</body>
</html>