{% extends 'WininjobAdminBundle::layout.html.twig' %}
{% block title %} Homepage | {{ parent() }} {% endblock %}
{% block content %}
	Admin Bundle!
	<a href="{{ path('front_homepage') }}">Back to the front</a>
{% endblock %}
